<h1>Welcome to Lovely-Flicker.com, <%= @user.username %>!</h1>

<p>I think you'll love our lovely website!</p>
<p>Just make sure to be lovely and confirm your lovely e-mail by clicking the lovely link below. Lovely</p>

<%= link_to "Lovely Confirmation", confirm_user_url(@user, host: "lovely-flickr.com") %>